<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-Villagio-Michelin">
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerAgro"
                aria-controls="navbarTogglerAgro"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand fw-bold"
           asp-controller="Home"
           asp-action="Index">
            AgroAdmin
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerAgro">

            <!-- Mantém estrutura do exemplo -->
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <!-- vazio de propósito -->
            </ul>

            <!-- Search -->
            <form class="d-flex my-2 my-lg-0" role="search">
                <input class="form-control me-2"
                       type="search"
                       placeholder="Pesquisar"
                       aria-label="Pesquisar">
                <button class="btn btn-outline-light"
                        type="submit">
                    Buscar
                </button>
            </form>
        </div>
    </nav>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Admin 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
